.main {
    background: linear-gradient(to bottom right, #0C7985, #062a38);
  }
  
  .course-outline {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    align-items: center;
    text-align: center;
  }
  
  .course-outline h2 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }
  
  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #0C7985;
  }
  
  th {
    background-color: #0C7985;
    color: #fff;
  }
  
  tr {
    color: #14526b;
  }
  
  td {
    padding: 6px;
  }
  
  .completion-percentage {
    margin-top: 20px;
    font-weight: bold;
    color: #0d5a63;
    font-size: 26px;
  }
  
  .completion-percentage span:first-child {
    margin-right: 10px;
  }
  
  /* Responsive Adjustments */
  @media only screen and (max-width: 600px) {
    .course-outline {
      max-width: 100%;
      padding: 10px;
    }
  
    table {
      font-size: 14px;
    }
  
    th,
    td {
      padding: 8px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .course-outline {
      padding: 5px;
    }
  
    table {
      font-size: 12px;
    }
  
    th,
    td {
      padding: 6px;
    }
  }
  